/* Her har vi styles til vores computer version */
/* ------------------------------------------------------------- */

$computer: "screen and (min-width: 980px)";
@media #{$computer} {

  #logo{
    height: 100px!important;
  }

  .banner{
    margin-top: 150px!important;
    opacity: 80%;
  }

  .bannertext{
    font-size: 35px!important;
    width: 85%;
  }

  .nyheder img{
    height: 650px!important;
    width: auto!important;
  }

  .musthaveimg img{
    height: auto!important;
    width: auto!important;
  }

  .inspiration {
    height:  500px!important;
    width: 100% !important;
  }

}