/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {

  #logo{
    height: 75px!important;
    text-align: center!important;
  }

  .banner{
    margin-top: 300px!important;
    opacity: 80%;
  }

  .bannertext{
    font-size: 35px!important;
  }

  .nyheder img{
    height: 350px!important;
    width: auto!important;
  }

}