/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {

  #logo{
    height: 75px!important;
    text-align: center!important;
  }

  .banner{
    margin-top: 300px!important;
    opacity: 80%;
  }

  .bannertext{
    font-size: 35px!important;
  }

  .nyheder img{
    height: 350px!important;
    width: auto!important;
  }

  .musthave-md img{
    height: 350px!important;
    width: auto!important;
  }

  .inspiration {
    height: 450px !important;
    width: 100% !important;
  }
  img{
    height: 100%!important;
    width: auto!important;
  }

  .produktbilleder{
    height: 250px!important;
  }

  .produkt{
    width: auto!important;
    height: auto!important;
  }

}